.ant-carousel {
    display: flex;
    justify-content: center;
}

.carousel {
    height: 500px;
    color: #fff;
    line-height: 160px;
    text-align: center;
    display: flex !important;
    justify-content: center !important;

    // background-image: url('/src/images/slide1.jpg');
    // background-size: contain;
    // background-position: center;
    // background-repeat: no-repeat;
    img {}

}