.film-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
    padding: 20px;

    //button upload film
    .btn-upload {
        text-transform: uppercase;
        cursor: pointer;
        background: black;
        border: none;
        border-bottom: solid 4px black;
        padding: 0.7em 3em;
        margin: 1em 0;
        color: white;
        text-shadow: 0 -1px 0 black;
        font-size: 1.1em;
        font-weight: bold;
        display: inline-block;
        width: auto;
        -webkit-border-radius: 0.5em;
        -moz-border-radius: 0.5em;
        -ms-border-radius: 0.5em;
        border-radius: 0.5em;
    }

    //film manager
    .container {
        width: 100%;

        //table head
        thead {
            background-color: black;
            color: white;

            th {
                padding: 10px;
                font-size: 15px;
                font-weight: bold;
            }
        }

        tbody {

            //buttons
            button {
                cursor: pointer;
                border: none;
                border-radius: 10px;
                width: 50px;
                height: 50px;
                font-size: larger;
                color: white;
            }

            //button source
            .btn-primary {
                background-color: black;
            }

            //button edit
            .btn-outline-primary {
                background-color: blue;
            }

            //button delete
            .btn-danger {
                background-color: red;
            }

            //poster
            img {
                width: 120px;
                height: 190px;
                border-radius: 10px;
            }

            tr {
                height: 250px;
            }

            td {
                font-size: 15px;
                font-weight: 500;
            }
        }
    }

    //upload, update form
    .film-upload,
    .film-update {
        padding: 10px;
        max-width: 70%;
        max-height: 80%;
        border: 0.5px solid black;
        border-radius: 10px;

        form {
            .btn-zone {
                display: flex;
                justify-content: space-around;
                gap: 5px;

                .save {
                    text-transform: uppercase;
                    cursor: pointer;
                    background: black;
                    border: none;
                    border-bottom: solid 4px black;
                    padding: 0.7em 3em;
                    margin: 1em 0;
                    color: white;
                    text-shadow: 0 -1px 0 black;
                    font-size: 1.1em;
                    font-weight: bold;
                    display: inline-block;
                    width: auto;
                    -webkit-border-radius: 0.5em;
                    -moz-border-radius: 0.5em;
                    -ms-border-radius: 0.5em;
                    border-radius: 0.5em;
                }

                .cancel {
                    text-transform: uppercase;
                    cursor: pointer;
                    background: white;
                    border: none;
                    border-bottom: solid 4px white;
                    padding: 0.7em 3em;
                    margin: 1em 0;
                    color: black;
                    text-shadow: 0 -1px 0 white;
                    font-size: 1.1em;
                    font-weight: bold;
                    display: inline-block;
                    width: auto;
                    -webkit-border-radius: 0.5em;
                    -moz-border-radius: 0.5em;
                    -ms-border-radius: 0.5em;
                    border-radius: 0.5em;
                }
            }
        }
    }
}